<ng-template #noCalories>
  <ion-label> Sem calorias cadastradas. </ion-label>
</ng-template>

<ion-card>
  <ion-card-header>
    <ion-card-title>Últimas 24 horas</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <canvas
      *ngIf="calories.length; else noCalories"
      baseChart
      [datasets]="data"
      [labels]="labels"
      [options]="options"
      [chartType]="type"
    >
    </canvas>
  </ion-card-content>
</ion-card>
