<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar calorias consumidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input
              name="name"
              required
              [(ngModel)]="model.name"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Calorias</ion-label>
            <ion-input
              type="number"
              inputmode="numeric"
              name="value"
              required
              [(ngModel)]="model.value"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Quando</ion-label>
            <ion-datetime
              displayFormat="DD MMM YYYY HH:mm"
              [monthShortNames]="[
                'jan.',
                'fev.',
                'mar.',
                'abr.',
                'maio.',
                'jun.',
                'jul.',
                ' ago.',
                'set.',
                'out.',
                'nov.',
                'dez.'
              ]"
              name="date"
              [(ngModel)]="model.date"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button
    (click)="addCalorie()"
    color="success"
    [disabled]="form.invalid"
  >
    <ion-icon name="checkmark-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="close()" color="danger">
    <ion-icon name="close-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
