<ion-header>
  <ion-toolbar>
    <ion-title>Medidor de calorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <app-main-calories-chart [calories]="calories"></app-main-calories-chart>
  <app-main-calories-table (delete)="delete($event)" [calories]="calories"></app-main-calories-table>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="showAddCalorieAlert()">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
