<ng-template #noCalories>
  <ion-label> Sem calorias cadastradas. </ion-label>
</ng-template>

<ion-card>
  <ion-card-header>
    <ion-card-title>Calorias consumidas</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list *ngIf="calories.length; else noCalories">
      <span *ngFor="let item of calories; let index = index">
        <ion-item-divider *ngIf="headerFn(item, index)">
          <ion-label>
            {{ headerFn(item, index) }}
          </ion-label>
        </ion-item-divider>

        <ion-item-sliding>
          <ion-item detail>
            <span style="display: flex; flex-direction: column">
              <span>
                <ion-label
                  class="ion-float-start"
                  style="margin-top: 6px; margin-right: 5px; font-size: smaller"
                  >{{ item.date | date: "HH:mm" }}</ion-label
                >
                <ion-title class="ion-no-padding">
                  {{ item.name }}
                </ion-title>
              </span>

              <ion-label>{{ item.value }} caloria(s) </ion-label>
            </span>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option (click)="delete.emit(index)" color="light">
              <ion-icon icon="trash" color="danger"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </span>
    </ion-list>
  </ion-card-content>
</ion-card>
